#body {
    background-color: rgb(215, 229, 240);
}

.tales {
    width: 50%;
}

.carousel-inner {
    max-height: 400px;
}

/* Geht um Ganze Page mit Footer */
#page-container {
    position: relative;
    min-height: 100vh;
}

/* Geht um alle Inhalte ohne Footer und Heading */
#content-wrap {
    padding-bottom: 12rem;
}

/* Footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12rem;
}